<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" data-th-action="@{/online-market/products/{productId}/edit(productId=${product.id})}">
    <label>
        Название:<br>
        <input type="text" name="title" data-th-value="${product?.title}">
    </label><br>
    <label>
        Описание:<br>
        <textarea name="details" data-th-text="${product?.details}"></textarea>
    </label><br>
    <button type="submit">Изменить</button>
</form>
<form method="post" data-th-action="@{/online-market/products/{productId}/delete(productId=${product.id})}">
    <button type="submit">Удалить</button>
</form>
<div data-th-if="${errors}">
    <h2>Допушены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
</body>
</html>