<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" data-th-action="@{/online-market/products/list}">
    <label>Фильтр:<input type="text" name="filter" data-th-value="${filter}">
        <button type="submit">Поиск</button>
    </label>
</form>
<a data-th-href="@{/online-market/products/create}">Создать товар</a>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Товар</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="product : ${products}">
        <td data-th-text="${product.id}"></td>
        <td>
            <a data-th-href="@{/online-market/products/{productId}(productId=${product.id})}"
               data-th-text="${product.title}"></a>
            <th:block th:if="${product.getProductMedia() != null and not #lists.isEmpty(product.getProductMedia()) and product.getProductMedia().getFirst() != null}">
                <img th:src="@{${product.getProductMedia().getFirst().getMediaPath()}}" alt="Product Image">
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
<a data-th-href="@{/online-market/products/myProducts}">Мои Товары</a>
<form method="post" data-th-action="@{/online-market/products/16/delete}">
        <button type="submit">Поиск</button>
</form>
</body>
</html>