<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Новый товар</h1>
<a data-th-href="@{/online-market/products/list}">К списку товаров</a>
<br>
<br>
<a data-th-href="@{/online-market/products/{productId}/edit(productId=${product.id})}">Изменить товар</a>
<h1 data-th-text="${product.title}"></h1>
<ul>
    <li><strong>ID</strong>: <span data-th-text="${product.id}"></span></li>
    <li><strong>Название</strong>: <span data-th-text="${product.title}"></span></li>
    <li><strong>Описание</strong>: <span data-th-text="${product.details}"></span></li>
</ul>
<div>
    <h2>Фотографии товара:</h2>
    <div data-th-each="media : ${product.getProductMedia()}">
        <img th:src="@{${media.getMediaPath()}}" alt="Product Image">
    </div>
</div>
</body>
</html>